/*this doc was validated against as CSS level 3 Strict on the 25/11 with 0 errors, by Kieran Coughlan*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, section, figure, article, figcaption, nav, object, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, h3, h4, h5, h6, sub, sup, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, br, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
	border-top-width:0;
	border-right-width:0;
	border-bottom-width:0;
	border-left-width:0;
	border-style:initial;
	border-color:#000000;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

body {
	font-size:85%;
	text-align:center;
	color:#000000;
	font-family:verdana, Georgia, Garamond, serif;
}

* #box_all {
	position:relative;
	width:810px;
	z-index:10;
	margin:0px auto 0px auto;
}

article, figcaption {
	/* below is general css3 border radius property for rounded edges */
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	/* below ensures correct output for MFF*/
	-moz-border-top-left-radius: 2px;
	-moz-border-top-right-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	/* below is for safari */
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
}

#box_top {
	position:relative;
	height:80px;
	width:810px;
	z-index:10;
	margin:0;
	padding:0;
}

#box_top_left {
	position:absolute;
	top:0%;
	right:80%;
	bottom:0%;
	left:0%;
	z-index:10;
}

#box_top_centre {
	position:absolute;
	top:70%;
	right:40%;
	bottom:0%;
	left:40%;
	height:80px;
	z-index:10;
}

#box_top_centre a:link {
	color:#F0F0F0;
}

#box_top_centre ul {
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

#box_top_centre ul li {
	display:inline-block;
	float:left;
	height:25px;
	list-style-type:none;
	overflow:hidden;
	border:1px solid #444444;
}

#box_top_centre ul li a, ul li a:hover, ul li a:visited {
	text-decoration:none;
}

.normalMenu, .normalMenu:visited, .hoverMenu, .hoverMenu:visited, .selectedMenu, .selectedMenu:visited {
	outline-style:none;
	outline-width:initial;
	outline-color:#000000;
	display:block;
	padding:5px 10px 5px 10px;
}

.hoverMenu, .hoverMenu:visited, .selectedMenu, .selectedMenu:visited {
	margin-top:-25px;
	background-image:url(img/grey_bg.gif);
	background-repeat-x:repeat;
	background-repeat-y:no-repeat;
	background-repeat:repeat-x;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#EEEEEE;
	color:#444444;
}

.selectedMenu, .selectedMenu:visited {
	margin:0;
}

.normalMenu, .normalMenu:visited {
	color:#FFFFFF;
	background-image:url(img/dark_bg.gif);
	background-repeat-x:repeat;
	background-repeat-y:no-repeat;
	background-repeat:repeat-x;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#444444;
}

#box_top_right {
	position:absolute;
	top:32%;
	right:0%;
	bottom:0%;
	left:88.2%;
	height:80px;
	width:115px;
	z-index:10;
}

#box_centre {
	position:relative;
	top:0%;
	right:0%;
	left:0%;
	bottom:15%;
	height:430px;
	width:810px;
	/* below is general css3 border radius property for rounded edges */
	border-top-left-radius: 15% 15%;
	border-top-right-radius: 15% 15%;
	border-bottom-left-radius: 15% 15%;
	border-bottom-right-radius: 15% 15%;
	/* below ensures correct output for MFF*/
	-moz-border-top-left-radius: 15% 15%;
	-moz-border-top-right-radius: 15% 15%;
	-moz-border-bottom-left-radius: 15% 15%;
	-moz-border-bottom-right-radius: 15% 15%;
	/* below is for safari */
	-webkit-border-top-left-radius: 15% 15%;
	-webkit-border-top-right-radius: 15% 15%;
	-webkit-border-bottom-left-radius: 15% 15%;
	-webkit-border-bottom-right-radius: 15% 15%;
	background-repeat:no-repeat;
	background-color:#A40004;
	z-index:10;
}

#box_centre p {
	font-weight:500;
	margin:1em;
}

#box_centre h4 h5 h6 {
	font-size:110%;
	font-weight:600;
	margin:0.5em;
}

#box_centre .picture {
	position:absolute;
	top:0%;
	right:0%;
	bottom:0%;
	left:0%;
	height:430px;
	width:810px;
	background-size:100%;
	background-image: url(BavariaCityRacing_0141.jpg);
	/* below is general css3 border radius property for rounded edges */
	border-top-left-radius: 15% 15%;
	border-top-right-radius: 15% 15%;
	border-bottom-left-radius: 15% 15%;
	border-bottom-right-radius: 15% 15%;
	/* below ensures correct output for MFF*/
	-moz-border-top-left-radius: 15% 15%;
	-moz-border-top-right-radius: 15% 15%;
	-moz-border-bottom-left-radius: 15% 15%;
	-moz-border-bottom-right-radius: 15% 15%;
	/* below is for safari */
	-webkit-border-top-left-radius: 15% 15%;
	-webkit-border-top-right-radius: 15% 15%;
	-webkit-border-bottom-left-radius: 15% 15%;
	-webkit-border-bottom-right-radius: 15% 15%;
	background-repeat:no-repeat;
	background-color:#C8C8C8;
	overflow: hidden;
	cursor: pointer;
	transition: background-size 5.5s ease-out;
}

#box_centre .picture:hover {
	background-size: 110% 105%;
	background-origin: border- box;

}

#box_centre .picture_tab1 {
	position:absolute;
	top:0%;
	right:0%;
	bottom:0%;
	left:0%;
	height:430px;
	width:810px;
	background-size:100%;
	background-image: url(BavariaCityRacing_0036.jpg);
	/* below is general css3 border radius property for rounded edges */
	border-top-left-radius: 15% 15%;
	border-top-right-radius: 15% 15%;
	border-bottom-left-radius: 15% 15%;
	border-bottom-right-radius: 15% 15%;
	/* below ensures correct output for MFF*/
	-moz-border-top-left-radius: 15% 15%;
	-moz-border-top-right-radius: 15% 15%;
	-moz-border-bottom-left-radius: 15% 15%;
	-moz-border-bottom-right-radius: 15% 15%;
	/* below is for safari */
	-webkit-border-top-left-radius: 15% 15%;
	-webkit-border-top-right-radius: 15% 15%;
	-webkit-border-bottom-left-radius: 15% 15%;
	-webkit-border-bottom-right-radius: 15% 15%;
	background-repeat:no-repeat;
	background-color:#C8C8C8;
}

#box_centre .picture_tab2 {
	position:absolute;
	top:0%;
	right:0%;
	bottom:0%;
	left:0%;
	height:430px;
	width:810px;
	background-size:100%;
	background-image: url(BavariaCityRacing_0025.jpg);
	/* below is general css3 border radius property for rounded edges */
	border-top-left-radius: 15% 15%;
	border-top-right-radius: 15% 15%;
	border-bottom-left-radius: 15% 15%;
	border-bottom-right-radius: 15% 15%;
	/* below ensures correct output for MFF*/
	-moz-border-top-left-radius: 15% 15%;
	-moz-border-top-right-radius: 15% 15%;
	-moz-border-bottom-left-radius: 15% 15%;
	-moz-border-bottom-right-radius: 15% 15%;
	/* below is for safari */
	-webkit-border-top-left-radius: 15% 15%;
	-webkit-border-top-right-radius: 15% 15%;
	-webkit-border-bottom-left-radius: 15% 15%;
	-webkit-border-bottom-right-radius: 15% 15%;
	background-repeat:no-repeat;
	background-color:#C8C8C8;
}

#box_centre .picture_txt {
	position:absolute;
	height:180px;
	width:400px;
	/* below is general css3 border radius property for rounded edges */
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	/* below ensures correct output for MFF*/
	-moz-border-top-left-radius: 2px;
	-moz-border-top-right-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	/* below is for safari */
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	top:45%;
	right:70%;
	bottom:10%;
	left:10%;
	background-image:url(bgtxt.jpg);
	opacity:0.7;
	text-align:justify;
	z-index:15;
	padding:1px;
}

#box_centre .picture_txt p {
	font-weight:500;
	margin:1em;
}

#box_centre .picture_txt h4 {
	font-size:110%;
	font-weight:600;
	margin:0.5em;
}


#box_centre .col1 {
	position:relative;
	top:0;
	left:0;
	width:270px;
	text-align:justify;
}

#box_centre .col1 img {
	padding-right:30px;
	padding-left:30px;
	text-align:center;
}

#box_centre .col2 {
	position:absolute;
	top:0;
	left:270px;
	width:270px;
	text-align:justify;
}

#box_centre .col2 img {
	padding-right:30px;
	padding-left:30px;
	text-align:center;
}

#box_centre .col3 {
	position:absolute;
	top:0;
	left:540px;
	width:270px;
	text-align:justify;
}

#box_centre .col3 img {
	padding-right:30px;
	padding-left:30px;
	text-align:center;
}

#box_centre .txt {
	position:absolute;
	top:2%;
	right:5%;
	bottom:2%;
	left:5%;
	font-size:90%;
}

#box_centre .txt h3 {
	font-size:110%;
	font-weight:600;
	margin:0.5em;
}

#box_centre .txt h4 {
	font-size:105%;
	font-weight:600;
	margin:0.5em;
}

#box_centre .txt h5 {
	font-size:95%;
	font-weight:600;
	margin:0.5em;
}

#box_centre .txt h6 {
	font-size:95%;
	font-weight:600;
	color:#CC00CC;
	margin:0.5em;
}

#box_centre .txt_map {
	position:relative;
	top:5%;
	right:45%;
	bottom:2%;
	left:5%;
	font-size:90%;
}

#box_centre .txt_map h3 {
	font-size:110%;
	font-weight:600;
	margin:0.5em;
}

#box_centre .map {
	position:absolute;
	top:110%;
	right:5%;
	bottom:2%;
	left:5%;
}

#box_centre .txt_tweet {
	position:relative;
	top:5%;
	right:5%;
	bottom:2%;
	left:5%;
	font-size:90%;
}

#box_centre .tweet {
	background-color:#FFFFFF;
}

#box_centre .tweet ol li {
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	/* below ensures correct output for MFF*/
	-moz-border-top-left-radius: 1px;
	-moz-border-top-right-radius: 1px;
	-moz-border-bottom-left-radius: 1px;
	-moz-border-bottom-right-radius: 1px;
	/* below is for safari */
	-webkit-border-top-left-radius: 1px;
	-webkit-border-top-right-radius: 1px;
	-webkit-border-bottom-left-radius: 1px;
	-webkit-border-bottom-right-radius: 1px;
	list-style: none;
}

#box_centre .col_a {
	position:absolute;
	top:0%;
	right:0%;
	bottom:0%;
	left:0;
	height:430px;
	width:405px;
	overflow-y: scroll;
	text-align:justify;
}

#box_centre .col_a h5 a {
	font-size:90%;
	font-weight:600;
	color:#000000;
	text-decoration:none;
	margin:0.5em;
}

#box_centre .col_a dl dt {
	font-weight:500;
	opacity:0.7;
	color:#000000;
	margin:0.5em;
}

#box_centre .col_b {
	position:absolute;
	top:0%;
	right:0%;
	bottom:0%;
	left:50%;
	height:430px;
	width:405px;
	text-align:justify;
}

#box_centre .col_b_pic {
	position:absolute;
	top:0%;
	right:0%;
	bottom:0%;
	left:0%;
	height:430px;
	width:405px;
	z-index:15;
	text-align:left;
}

#box_centre .col_b_pichofer {
	position:absolute;
	top:0%;
	right:0%;
	bottom:0%;
	left:0%;
	height:430px;
	width:405px;
	z-index:15;
	text-align:center;
	padding-top:2.5px;
}

#box_centre .col_b_course {
	position:absolute;
	top:0%;
	right:0%;
	bottom:0%;
	left:0%;
	height:430px;
	width:405px;
	background-image:url(courses.jpg);
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	z-index:15;
}

#box_bottom {
	position:relative;
	top:0%;
	right:0%;
	bottom:0%;
	left:0%;
	width:810px;
	z-index:10;
}

#box_bottom_left {
	position:absolute;
	top:0%;
	right:50%;
	bottom:0%;
	left:0%;
	height:80px;
	width:400px;
	color:#000000;
	background-color:#FFFFFF;
	z-index:10;
}

#box_bottom_left .logo {
	position:relative;
	top:10%;
	left:0%;
	height:80px;
	width:405px;
	text-align:left;
	right:0;
	bottom:-1px;
}

#box_bottom_right {
	position:absolute;
	top:0%;
	right:0%;
	bottom:0%;
	left:50%;
	height:80px;
	width:410px;
	color:#000000;
	background-color:#FFFFFF;
	z-index:10;
}

#box_bottom_right .breadcrumbs {
	position:relative;
	top:10%;
	right:0%;
	bottom:0%;
	left:0%;
	color:#CC00CC;
	font-family:Courier, Garamond, serif;
	font-size:80%;
	text-align:right;
}

#box_bottom_right .breadcrumbs a {
	text-decoration:none;
	color:#CC00CC;
}

#box_bottom_right .breadcrumbs a:hover {
	font-weight:500;
}

h1 {
	color:#FFFFFF;
	font-family:'Accord Heavy SF', serif;
	font-size:24px;
}

a {
	font-weight:bold;
}

a:link {
	color:#CC00CC;
}

a:visited {
	color:#004654;
}

a:hover {
	font-weight:600;
}

